# Dependencies
bower_components
node_modules

# Assets
dist/js/clicker.js
dist/cookie-monster.js

# Third-party
dist/js/original
dist/js/third-party

# Logs and caches
.sass-cache
npm-debug.log
README.wiki